<%- include('partials/headeer') %>
<div class="flex">
    <section id="admin-info">
    <h1 class="admin">Bienvenue sur le tableau de bord administrateur</h1>
 
    <p><strong>Email :</strong> <%= user.email %></p>
      <p><strong>Prénom:</strong> <%= user.firstname %></p>
      <p><strong>Nom:</strong> <%= user.lastname %></p>
      <p><strong>Téléphone:</strong> <%= user.telephone %></p>
      <p><strong>Ville:</strong> <%= user.locality %></p>
      <p><strong>Role:</strong> <%= user.role %></p>
    </div>
    <a href="/profile/edit" class="button">Modifier</a>
    <form class="element_a" action="/logout" method="POST">
      <button class="connected" type="submit">Déconnexion</button>
    </form>
</section>
<section id="admin-links">
    <h2>Gestion</h2>
    <ul>
        <li><a href="/admin/manage-accounts">Gestion de comptes</a></li>
        <li><a href="/orders">Gestion des commandes</a></li>
        <li><a href="/admin/manage-campaigns">Gestion des campagnes</a></li>
        <li><a href="/admin/uploadTreeImage">Gestion des arbres</a></li>
    </ul>
</section>
</div>
  <!-- Ajoutez ceci à votre fichier profile.ejs -->

</body>
</html>