<%- include('partials/headeer') %>
<h2 class="catalogue-arbres-title">Catalogue d'arbres</h2>

    <div class="catalogue-arbres-grid">
        <% for(const campaign of campaigns) { %>
            <article class="catalogue-arbres-article">
                <img src="<%= campaign.image %>" alt="<%= campaign.name %>">
                <h3><%= campaign.name %></h3> <!-- Changement de p à h3 pour le nom de l'arbre -->
                <p><%= campaign.description %></p>
                <% for(const tree of campaign.trees) { %>
                    <p><%= tree.name %></p> <!-- Ajout de l'unité de monnaie -->
                <% } %>
                <a href="/panier/<%= campaign.treesId %>">Savoir plus</a> <!-- Lien dynamique vers le panier -->
            </article>
        <% } %>
    </div>
        
        <%- include('partials/footer') %>