<%- include('partials/header') %>
<nav aria-label="Breadcrumb" class="breadcrumb">
    <ul class="breadcrumb-list">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item"><a href="/catalog">Catalogue</a></li>
        <li class="breadcrumb-item"><a href="/cart">Panier</a></li>
    </ul>
</nav>


<% if (errors && errors.length > 0) { %>
    <div class="error-messages">
        <% errors.forEach(function(error) { %>
            <p><%= error %></p>
        <% }); %>
    </div>
<% } %>

<% if (cart.length > 0) { %>
    <ul class="panier-list">
        <% cart.forEach(item => { %>
            <li class="cart-item">
                <img src="<%= encodeURI(item.image) %>" alt="<%= encodeURIComponent(item.name) %>">
                <div class="details">
                    <span>Arbre: <%= item.name %></span>
                    <p><%= item.description %></p>
                    <span>Prix: <%= item.price %> €</span>

                    <div class="quantity">
                        <button onclick="changeQuantity('<%= item.tree_id %>', -1)">-</button>
                        <input id="quantity-<%= item.tree_id %>" type="text" value="<%= item.quantity %>" readonly>
                        <button onclick="changeQuantity('<%= item.tree_id %>', 1)">+</button>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>

    <div class="total-amount">
        <h2>Total à payer : <span id="total-amount"><%= (totalAmount / 100).toFixed(2) %> €</span></h2>
    </div>

    <% if (cart.length > 0 && cart.some(item => item.quantity > 0)) { %>
        <button onclick="window.location.href='/payment'" id="payment-button">Procéder au paiement</button>
    <% } %>
<% } else { %>
    <p>Votre panier est vide.</p>
<% } %>

<button onclick="clearCart()" class="clear-cart-button">Vider le panier</button>
<%- include('partials/footer') %>
                                    <script>
                                        function updatePaymentButtonState() {
                                            const allQuantities = Array.from(document.querySelectorAll('input[type="text"]'))
                                                .map(input => parseInt(input.value, 10));
                                            const isValid = allQuantities.some(quantity => quantity > 0);
                                            const paymentButton = document.querySelector('button[onclick="window.location.href=\'/payment\'"]');
                                           
                                            if (paymentButton) {
                                                paymentButton.disabled = !isValid;
                                            }
                                            if (noItemsMsg) {
                                                noItemsMsg.style.display = isValid ? 'none' : 'block'; // Affiche ou cache le message selon la validité
                                            }
                                        }
                                        document.addEventListener('DOMContentLoaded', updatePaymentButtonState);
                                        // Script pour vider le panier et changer la quantité
                                        function clearCart() {
                                            fetch('/cart/clear', { method: 'POST' })
                                                .then(response => {
                                                    if (response.status === 204) {
                                                        console.log('Panier vidé avec succès');
                                                        window.location.reload();
                                                    } else {
                                                        console.error('Erreur lors de la suppression du panier :', response.statusText);
                                                    }
                                                })
                                                .catch(error => console.error('Erreur lors de la suppression du panier :', error));
                                        }

                                        function changeQuantity(treeId, change) {
                                            const input = document.querySelector(`#quantity-${treeId}`);
                                            let currentQuantity = parseInt(input.value) + change;
                                            if (currentQuantity < 0) currentQuantity = 0; // Assurez-vous que la quantité ne devienne pas négative
                                            input.value = currentQuantity;
                                            updateCart(treeId, currentQuantity); // Met à jour le panier sur le serveur
                                            updatePaymentButtonState(); // Met à jour l'état du bouton de paiement
                                            // Appel AJAX pour mettre à jour le panier
                                            fetch(`/cart/update`, {
                                                method: 'POST',
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                },
                                                body: JSON.stringify({ treeId: treeId, quantity: currentQuantity })
                                            })
                                                .then(response => response.json())
                                                .then(data => {
                                                    if (data.success) {
                                                        document.getElementById('total-amount').textContent = (data.newTotal / 100).toFixed(2) + ' €'; // Met à jour l'affichage du total
                                                    } else {
                                                        console.error('Erreur lors de la mise à jour du panier:', data.message);
                                                    }
                                                })
                                                .catch(error => console.error('Erreur lors de la mise à jour du panier:', error));
                                        }


                                        function updateCart(treeId, quantity) {
                                            fetch(`/cart/update`, {
                                                method: 'POST',
                                                headers: {
                                                    'Content-Type': 'application/json'
                                                },
                                                body: JSON.stringify({ treeId: treeId, quantity: quantity })
                                            })
                                                .then(response => response.json())
                                                .then(data => {
                                                    if (data.success) {
                                                        document.getElementById('total-amount').textContent = (data.newTotal / 100).toFixed(2) + ' €'; // Mise à jour de l'affichage du total
                                                        console.log('Le panier a été mis à jour avec succès');
                                                    } else {
                                                        console.error('Erreur lors de la mise à jour du panier:', data.message);
                                                    }
                                                })
                                                .catch(error => console.error('Erreur lors de la mise à jour du panier:', error));
                                        }

                                    </script>