<%- include('partials/headeer') %>
<h2>Catalogue d'arbres</h2>

   

    <% trees.forEach(tree => { %>
        <article>
            <img src="<%= tree.image %>" alt="<%= tree.name %>">
            <h3><%= tree.name %></h3>
            <p><%= tree.description %></p>
            <a href="/detail/<%= tree.campaignId %>"><%= tree.campaign.name %></a>
            <p>Prix: <%= tree.price %> €</p>
            <form action="/cart/add" method="post">
                <div class="quantity">
                    <button type="button" class="counter-button counter-up" data-tree-id="<%= tree.id %>">+</button>
                    <input id="quantity-<%= tree.id %>" name="quantity" value="0" type="text" class="counter-input w-input">
                    <button type="button" class="counter-button counter-down" data-tree-id="<%= tree.id %>">-</button>
                </div>
                <input type="hidden" name="treeId" value="<%= tree.id %>">
                <% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
                    <p style="color: red;"><%= errorMessage %></p>
                <% } %>
                <button type="submit">Ajouter au panier</button>
            </form>
        </article>
    <% }); %>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            document.querySelectorAll('.counter-up').forEach(button => {
                button.addEventListener('click', event => {
                    const treeId = event.target.dataset.treeId;
                    const input = document.getElementById(`quantity-${treeId}`);
                    input.value = parseInt(input.value) + 1;
                });
            });

            document.querySelectorAll('.counter-down').forEach(button => {
                button.addEventListener('click', event => {
                    const treeId = event.target.dataset.treeId;
                    const input = document.getElementById(`quantity-${treeId}`);
                    if (parseInt(input.value) > 0) {
                        input.value = parseInt(input.value) - 1;
                    }
                });
            });
        });
    </script>

    <%- include('partials/footer') %>
</body>
</html>