<%- include('partials/header') %>


<ul class="commandes-list">
    <% let hasPendingOrders = false; %>
    <% orders.forEach(order => { %>
        <% if (order.status === 'En attente') { %>
            <% hasPendingOrders = true; %>
        <% } %>
        <li class="commandes-item">
            <h2>Commande N°<%= order.id %>, Passée le: <%= new Date(order.createdAt).toLocaleDateString() %></h2>
            <% let totalPrice = 0; %>
            <% order.commandLines.forEach(line => { %>
                <div class="command-details">
                    
                    <p>Arbre: <%= line.tree.name %> (Campagne: <%= line.tree.campaign ? line.tree.campaign.name : 'N/A' %>)</p>
                    <p>Quantité: <%= line.quantity %></p>
                </div>
                <% totalPrice += line.quantity * line.tree.price; %> <!-- Ajouté hypothétiquement si tu as un prix par arbre -->
            <% }); %>
            <p class="total-price">Total de la Commande: <%= totalPrice.toFixed(2) %> €</p> <!-- Utilisé le totalPrice calculé -->
            <p>Status: <%= order.status %></p>
        </li>
    <% }); %>
    <% if (!hasPendingOrders) { %>
        <p class="no-pending-orders">Il n'y a plus de commandes en attente.</p>
    <% } %>
</ul>
<%- include('partials/footer') %>