<%- include('partials/headeer') %>


<h2>Détails de la Commande</h2>
<p>Prix total: <%= order.total.toFixed(2) %> €</p>
<ul>
    <% if (order.commandLines && order.commandLines.length > 0) { %>
        <p>Date de la commande: <%= new Date(order.order_date).toLocaleDateString() %></p>
        <% order.commandLines.forEach(commandLine => { %>
            
            <li>Nom de produit: <%= commandLine.tree.name %></li>
            <li>Quantité: <%= commandLine.quantity %></li>
            <li><img src="<%= encodeURI(commandLine.tree.image) %>" alt="<%= encodeURIComponent(commandLine.tree.name) %>"></li>
        <% }); %>
    <% } else { %>
        <li>Aucun article trouvé pour cette commande.</li>
    <% } %>
</ul>


