<%- include('partials/header') %>
  <div class="container">

    <div>
      <p><strong>Prénom:</strong> <%= user.firstname %></p>
      <p><strong>Nom:</strong> <%= user.lastname %></p>
      <p><strong>Téléphone:</strong> <%= user.telephone %></p>
      <p><strong>Ville:</strong> <%= user.locality %></p>
      
    </div>
    <a href="/validated-trees" class="button">Suivi de plantation</a>
    <a href="/myorders" class="button">Mes Commandes</a>
    <a href="/profile/edit" class="button">Modifier</a>
    <form class="element_a" action="/logout" method="POST">
      <button class="connected" type="submit">Déconnexion</button>
    </form>
  </div>
  <%- include('partials/footer') %>
