<h1>Suivi des Arbres Validés</h1>
<div>
    <label for="search">Rechercher un arbre:</label>
    <input type="text" id="search" placeholder="Nom de l'arbre" value="<%= searchQuery %>">
    <button id="searchButton">Rechercher</button>

</div>
<ul id="treeList">
    <% trees.forEach(tree => { %>
        <li data-lat="<%= tree.gps_coordinates.lat %>" data-lng="<%= tree.gps_coordinates.lng %>">
            <h2>Commande N°<%= tree.orderId %> - Passée le: <%= new Date(tree.orderDate).toLocaleDateString() %></h2>
            <p>Nom de l'arbre: <%= tree.name %></p>
            <p>Campagne: <%= tree.campaignName %></p>
            <p>Statut: <%= tree.status %></p>
            <p>Numéro du partenaire: <%= tree.partnerPhone %></p>
            <% if (tree.gps_coordinates) { %>
                <p>GPS: Lat <%= tree.gps_coordinates.lat %>, Lng <%= tree.gps_coordinates.lng %></p>
            <% } else { %>
                <p>GPS: Non disponible</p>
            <% } %>
        </li>
    <% }); %>
</ul>

<div id="map"></div>



<script>
   document.addEventListener('DOMContentLoaded', function() {
    let map;
    function initMap() {
        map = L.map('map').setView([48.8566, 2.3522], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        <% trees.forEach(tree => { %>
            if (tree.gps_coordinates) {
                let marker = L.marker([<%= tree.gps_coordinates.lat %>, <%= tree.gps_coordinates.lng %>]).addTo(map);
                marker.bindPopup("Nom: <%= tree.name %><br>Campagne: <%= tree.campaignName %><br>Statut: <%= tree.status %>");
            }
        <% }); %>
    }

    function showTreeOnMap(lat, lng) {
    if (map) {
        map.setView([lat, lng], 16); // Ajuste le zoom selon tes besoins
    }
}


    function searchTrees() {
        const searchValue = document.getElementById('search').value;
        window.location.href = `/validated-trees?search=${searchValue}`;
    }

    document.getElementById('searchButton').addEventListener('click', searchTrees);

    initMap();
});
document.addEventListener('DOMContentLoaded', function() {
    const treeItems = document.querySelectorAll('#treeList li');
    treeItems.forEach(item => {
        item.addEventListener('click', function() {
            const lat = this.getAttribute('data-lat');
            const lng = this.getAttribute('data-lng');
            showTreeOnMap(lat, lng);
        });
    });
});

</script>
</body>
</html>